@import "tailwindcss";

@theme {
  --color-gold: #c19b6c;
  --color-gold-hover: #b08a5b;
  --color-dark-surface: #141518;
  --color-dark-bg: #0a0a0c;
  --color-dark-border: #27272a;
}

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 transition-colors duration-200 antialiased;
  }
  
  .dark body {
    @apply bg-[#0a0a0c] text-zinc-50;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 20px);
  }
}

